@import (less) '../../node_modules/sanitize.css/sanitize.css';

@import './*.less';

html{
    font-family: sans-serif;
}

body{
    margin: 0 auto;
    @padding: 32px;
    max-width: 800+@padding;
    padding: @padding;

    color: #555;

    line-height: 1.8em;
}

h1,h2,h3,h4,h5,h6{
    color: #111;
    margin-top: 3em;
}

hr{
    border: 1px solid #DDD;
    border-width: 1px 0 0 0 ;
}

